job "demo" {
    datacenters = "dc1"
    priority = "50"
    type = "service"
    update {
        max_parallel = 1
        health_check = "checks"
        min_healthy_time = "10s"
        healthy_deadline = "3m"
        auto_revert = false
    }
    migrate {
        max_parallel = 1
        health_check = "checks"
        min_healthy_time = "10s"
        healthy_deadline = "5m"
    }

    group "demo" {
        count = 1
        restart {
            interval = "30m"
            attempts = 3
            delay    = "15s"
            mode     = "fail"
        }
        network {
            port "http" {
                to = 8080
            }
        }
        service {
            name = "demo"
            port = "http"
            tags = [
                "type=service",
                "environment=demo",
                "name=demo",
                "traefik.enable=true",
                "traefik.http.routers.demo.entrypoints=web,websecure",
            ]

            check {
                name = "alive"
                type = "tcp"
                port = "http"
                interval = "10s"
                timeout  = "5s"
            }
            check_restart {
                limit = 3
                grace = "90s"
                ignore_warnings = "false"
            }
        }
        task "demo" {
            driver = "docker"
            config {
                image = "hello-world:latest"
                ports = [ "http" ]
            }
            resources {
                cpu     = 100
                memory  = 100
            }
        }
    }
}
